(
    top_block: "nature.grass",
    middle_block: "nature.dirt",
    bottom_block: "nature.dirt",
    debug_color: "00ff00",
    temperature: (target: 0.3, weight: 1.2),
    moisture: (target: 0.5, weight: 1.2),
    elevation: (target: 0, weight: 0.5),
    plants: [(
        chance: 0.08,
        plant: "grass",
    )],
    decorators: [
        (
            count: 15,
            chance: 0.8,
            prefab: "tree",
            exclusion_zone: 3,
        ),
        (
            count: 15,
            chance: 0.8,
            prefab: "small_rock"
        ),
        (
            count: 15,
            chance: 0.8,
            prefab: "small_stick"
        )
    ],
    structures: [],
    road: ([
        (
            weight: 20,
            weight_center_distance_bias: -15,
            block: "rock.limestone.cobble"
        ),
        (
            weight: 7,
            weight_center_distance_bias: -1,
            block: "nature.dirt"
        ),
        (
            weight: -3,
            weight_center_distance_bias: 2,
            block: None,
        ),
    ])
)