(
    top_block: "nature.grass",
    middle_block: "nature.dirt",
    bottom_block: "nature.dirt",
    weight: 5,
    plants: [(
        chance: 0.2,
        plant: "grass",
    )],
    decorators: [
        (
            count: 15,
            chance: 0.8,
            prefab: "tree",
            exclusion_zone: 3,
        ),
        (
            count: 15,
            chance: 0.8,
            prefab: "small_rock"
        ),
        (
            count: 15,
            chance: 0.8,
            prefab: "small_stick"
        ),
        (
            count: 3,
            chance: 0.25,
            prefab: "bigrock"
        ),
        (
            count: 3,
            chance: 0.25,
            prefab: "leaf_pile"
        ),
        (
            count: 2,
            chance: 0.15,
            prefab: "fallen_tree"
        )
    ],
    structures: [("outpost", 10)],
    road: ([
        (
            weight: 20,
            weight_center_distance_bias: -15,
            block: "rock.limestone.cobble"
        ),
        (
            weight: 7,
            weight_center_distance_bias: -1,
            block: "nature.dirt"
        ),
        (
            weight: -3,
            weight_center_distance_bias: 2,
            block: None,
        ),
    ])
)