(
    top_block: "nature.grass",
    middle_block: "nature.dirt",
    bottom_block: "nature.dirt",
    debug_color: (r: 255, g: 150, b: 0),
    temperature: (target: 0.4, weight: 1.5),
    moisture: (target: 0.15, weight: 1.5),
    elevation: (target: 0, weight: 0.5),
    plants: [(
        chance: 0.08,
        plant: "grass",
    )],
    decorators: [
        (
            count: 15,
            chance: 0.8,
            structure: "tree"
        ),
        (
            count: 1,
            chance: 0.2,
            structure: "rock"
        ),
        (
            count: 15,
            chance: 0.8,
            structure: "small_rock"
        ),
        (
            count: 15,
            chance: 0.8,
            structure: "small_stick"
        )
    ]
)