Overlay(
    base: Image("rock.§%{rockType}"),
    overlay: Color(
        base: Color(
            base: Image("rock.rock_cobble_overlay!"),
            color: "§%{rockColor}",
        ),
        color: "e0e0e0",
    )    
)