(
    render_data: Model(model:"slab;rock.§%{rockType}_cobble;rock.§%{rockType}_cobble;rock.§%{rockType}_cobble"),
    health: (health: 5., health_regen: 0.05, table: ()),
    loot_table: Own((
        pools: [
            (
                entries: [
                    (
                        item: "rock.§%{rockType}.stone",
                        modifiers: [
                            SetCount(Constant(2))
                        ]
                    ),
                ],
                rolls: Constant(1),
            )
        ]
    )),
    rotation: Full,
    collision: [(0., 0., 0., 1., 1., 0.5)],
    selection: [(0., 0., 0., 1., 1., 0.5)],
)