(
    render_data: Full(
        faces: (
            front: "rock.§%{rockType}_cobble",
            back: "rock.§%{rockType}_cobble",
            left: "rock.§%{rockType}_cobble",
            right: "rock.§%{rockType}_cobble",
            down: "rock.§%{rockType}_cobble",
            up: "rock.§%{rockType}_cobble",
        ),
    ),
    health: (health: 5., health_regen: 0.05, table: ()),
    loot_table: Own((
        pools: [
            (
                entries: [
                    (
                        item: "rock.§%{rockType}.stone",
                        modifiers: [
                            SetCount(Constant(4))
                        ]
                    ),
                ],
                rolls: Constant(1),
            )
        ]
    )),
)