(
    exclusion_zone: 32,
    root_room: [
        (room: "root", weight: 1.),
    ],
    rooms: {
        "root": (
            prefab: "outpost",
            connections: [],
            road: ((0,0,0),1),
        )
    }
)