(
    model: Model("pickaxe"),
    stack_size: 1,
    tool: Some((
        damage: 10,
        swing_time: 1.,
        damage_type: Pierce,
        reach: 7.,
        knockback: 2.,
        stamina: 10.,
    )),
)