(
    render_data: Model(model:"arrow"),
    health: (health: 5., health_regen: 0.05, table: ()),
    loot_table: Own((
        entries: [
            (
                item: "arrow",
                chance: 1.,
            )
        ]
    )),
    rotation: FullOriented,
    item_scale: 0.6,
)