(
    render_data: Full(
        faces: (
            front: "dirt.grass",
            back: "dirt.grass",
            left: "dirt.grass",
            right: "dirt.grass",
            down: "dirt.grass",
            up: "dirt.grass",
        ),
    ),
    health: (health: 5., health_regen: 0.05, table: ()),
    loot_table: Key("empty"),
    interact_action: OpenInventory(screen:"barrel", view:[(slot:0),(slot:1),(slot:2),(slot:3),(slot:4),(slot:5),(slot:6),(slot:7),(slot:8),(slot:9)]),
    machine: Some((
        inventory_size: 10,
        script: "",
        faces: (
            back: InventoryAccess(
                input: [(slot:2),(slot:3)]
            ),
        )
    )),
)