(
    render_data: Model(model:"chute;wood.oak.bark"),
    health: (health: 5., health_regen: 0.05, table: ()),
    loot_table: Own((
        pools: [
            (
                entries: [
                    (
                        item: "chute",
                    ),
                ],
                rolls: Num(1),
            )
        ]
    )),
    interact_action: OpenInventory(screen:"chute", view:[(slot:0, stack_size_override:1)]),
    machine: Some((
        inventory_size: 1,
        script: "
        wait_for_items 0
        sleep 1
        transfer_push 0 down wait
        ",
        script_views: [
            [(slot:0)]
        ],
        faces: (
            back: Inventory([(slot:0, stack_size_override:1, mode: Input)]),
            front: Inventory([(slot:0, stack_size_override:1, mode: Input)]),
            left: Inventory([(slot:0, stack_size_override:1, mode: Input)]),
            right: Inventory([(slot:0, stack_size_override:1, mode: Input)]),
            up: Inventory([(slot:0, stack_size_override:1, mode: Input)]),
        )
    )),
)