(
    render_data: Model(model:"chute_side;wood.oak.bark"),
    health: (health: 5., health_regen: 0.05, table: ()),
    loot_table: Own((
        pools: [
            (
                entries: [
                    (
                        item: "chute",
                    ),
                ],
                rolls: Constant(1),
            )
        ]
    )),
    rotation: Horizontal,
    interact_action: OpenInventory(screen:"chute", view:[(slot:0, stack_size_override:1)]),
    machine: Some((
        inventory_size: 1,
        script: "
        wait_for_items 0
        sleep 1
        transfer_push 0 front wait
        ",
        script_views: [
            [(slot:0)]
        ],
        faces: (
            up: InventoryAccess([(slot:0, stack_size_override:1, mode: Input)]),
        )
    )),
)