(
    stages: ["plant.grass.0","plant.grass.1","plant.grass.2","plant.grass.3"],
    size: 1.4,
    height: 1.,
    blades: 3,
    center_offset: 0.,
    growth_length: 10.,
    harvest_loot: Key("empty"),
    break_loot: Key("empty"),
    allowed_soil: "#soil",
)