(
    stages: ["short_grass_0","short_grass_1","short_grass_2","short_grass_3"],
    size: 1.4,
    height: 1.,
    blades: 3,
    center_offset: 0.,
    growth_length: 10.,
    harvest_loot: Key("empty"),
    break_loot: Key("empty"),
    allowed_soil: "#soil",
)