(
    render_data: Model(model:"leaves;wood.leaves",render_flags: 1),
    health: (
        health: 5., 
        health_regen: 0.05, 
        table: ()
    ),
    loot_table: Own((
        pools: [
            (
                entries: [
                    (
                        item: "wood.§%{woodType}.stick",
                    ),
                    (
                        item: "wood.§%{woodType}.stick",
                        modifiers: [
                            SetCount(Constant(0))
                        ]
                    ),
                ],
                rolls: Constant(1),
            )
        ]
    )),
)