(
    render_data: Full(
        faces: (
            front: "cobblestone",
            back: "cobblestone",
            left: "cobblestone",
            right: "cobblestone",
            down: "cobblestone",
            up: "cobblestone",
        ),
    ),
    health: Some((health: 5., health_regen: 0.05, table: ())),
    loot_table: Own((
        entries: [
            (
                item: "rock",
                chance: 1.,
                modifiers: [
                    SetCount(Constant(4))
                ]
            )
        ]
    )),
)