(
    render_data: Full(
        faces: (
            front: "dirt_0",
            back: "dirt_0",
            left: "dirt_0",
            right: "dirt_0",
            down: "dirt_0",
            up: "dirt_0",
        ),
    ),
    health: (health: 5., health_regen: 0.05, table: ()),
    loot_table: Own((
        entries: [
            (
                item: "dirt",
                chance: 1.,
            )
        ]
    )),
)