(
    render_data: Model(model:"slab;dirt.dirt;dirt.dirt;dirt.dirt"),
    health: (health: 5., health_regen: 0.05, table: ()),
    loot_table: Own((
        entries: [
            (
                item: "dirt",
                chance: 1.,
            )
        ]
    )),
    rotation: Full,
    collision: [(0., 0., 0., 1., 1., 0.5)],
    selection: [(0., 0., 0., 1., 1., 0.5)],
)