(
    render_data: Full(
        faces: (
            front: "#dirt.dirt",
            back: "#dirt.dirt",
            left: "#dirt.dirt",
            right: "#dirt.dirt",
            down: "#dirt.dirt",
            up: "#dirt.dirt",
        ),
    ),
    health: (health: 5., health_regen: 0.05, table: ()),
    loot_table: Own((
        entries: [
            (
                item: "dirt",
                
            )
        ]
    )),
)