(
    render_data: Full(
        faces: (
            front: "dirt",
            back: "dirt",
            left: "dirt",
            right: "dirt",
            down: "dirt",
            up: "grass_block",
        ),
    ),
    health: Some((health: 5., health_regen: 0.05)),
    loot_table: Key("empty"),
    plantable: true,
)