(
    render_data: Full(
        faces: (
            front: "dirt.grass_block_side",
            back: "dirt.grass_block_side",
            left: "dirt.grass_block_side",
            right: "dirt.grass_block_side",
            down: "#dirt.dirt",
            up: "dirt.grass",
        ),
    ),
    health: (health: 5., health_regen: 0.05, table: ()),
    loot_table: Own((
        entries: [
            (
                item: "dirt",
                chance: 1.,
            )
        ]
    )),
    plantable: true,
)