(
    render_data: Model("leaves"),
    health: Some((health: 5., health_regen: 0.05, table: ())),
    loot_table: Own((
        entries: [
            (
                item: "stick",
                chance: 1.,
            )
        ]
    )),
)