(
    render_data: Full(
        faces: (
            front: "oak_log",
            back: "oak_log",
            left: "oak_log",
            right: "oak_log",
            down: "oak_log",
            up: "oak_log",
        ),
    ),
    health: Some((health: 5., health_regen: 0.05, table: ())),
    loot_table: Own((
        entries: [
            (
                item: "wood",
                chance: 1.,
            )
        ]
    )),
)