(
    inputs: {},
    outputs: Own((
        pools: [
            (
                entries: [
                    (
                        item: "dirt",
                    ),
                ],
                rolls: Constant(1),
            )
        ]
    )),
    craft_time: 5,
)