(
    inputs: [],
    outputs: Own((
        pools: [
            (
                entries: [
                    (
                        item: "dirt",
                    ),
                ],
                rolls: Num(1),
            )
        ]
    )),
    craft_time: Num(5),
)