(
    inputs: {
        "rock.limestone.stone": 1,
        "wood.oak.stick": 1,
    },
    outputs: Own((
        pools: [
            (
                entries: [
                    (
                        item: "pickaxe",
                    ),
                ],
                rolls: Constant(1),
            )
        ]
    )),
)