(
    inputs: {
        "rock.limestone.stone": 1,
        "wood.oak.stick": 1,
    },
    outputs: Own((
        entries: [
            (
                item: "pickaxe",
                chance: 1.,
            )
        ]
    )),
)