(
    inputs: {
        "rock": 1,
        "stick": 1,
    },
    outputs: Own((
        entries: [
            (
                item: "pickaxe",
                chance: 1.,
            )
        ]
    )),
)