(
    inputs: {
        "rock.limestone.stone": 1,
    },
    outputs: Own((
        entries: [
            (
                item: "rock.limestone.brick",
                
            )
        ]
    )),
)