(
    inventory_size: 10,
    hitbox_size: 0.3,
    hitbox_height: 0.3,
    eye_height: 0.15,
    crouch_height_difference: 0.,
    model: "player",
    viewmodel: "viewmodel",
    damage_table: (),
    loot_table: Key("empty"),
    base_stats: (
        flight_add: 1,
        strength_mul: 100000000,
        speed_mul: 2,
        haste_mul: 2,
    )
)