(
    inventory_size: 0,
    hitbox_size: 0.3,
    hitbox_height: 1.9,
    eye_height: 1.7,
    model: "pocong",
    health: 100.,
    damage_table: (),
    ai: (
        attacks: "player",
    ),
    jump_velocity: 8.2,
)