(
    render_data: Model(model:"branch;wood.§%{woodType}_bark"),
    health: (
        health: 5., 
        health_regen: 0.05, 
        table: ()
    ),
    loot_table: Own((
        entries: [
            (
                item: "wood.§%{woodType}.stick",
                chance: 1.,
            )
        ]
    )),
    rotation: Full,
    collision: [(0.25, 0.25, 0.25, 0.75, 0.75, 0.75)],
    selection: [(0.25, 0.25, 0.25, 0.75, 0.75, 0.75)],
    hanging: Front,
)