(
    render_data: Model(model:"stair;wood.§%{woodType}.plank"),
    health: (
        health: 5., 
        health_regen: 0.05, 
        table: ()
    ),
    rotation: Horizontal,
    collision: [(0., 0., 0., 1., 1., 0.5),(0., 0., 0.5, 1., 0.5, 1.)],
    selection: [(0., 0., 0., 1., 1., 0.5),(0., 0., 0.5, 1., 0.5, 1.)],
    loot_table: Own((
        pools: [
            (
                entries: [
                    (
                        item: "wood.§%{woodType}.plank",
                        modifiers: [
                            SetCount(Constant(3))
                        ],
                    ),
                ],
                rolls: Constant(1),
            )
        ]
    )),
)