(
    render_data: Full(
        faces: (
            front: "wood.§%{woodType}.plank",
            back: "wood.§%{woodType}.plank",
            left: "wood.§%{woodType}.plank",
            right: "wood.§%{woodType}.plank",
            down: "wood.§%{woodType}.plank",
            up: "wood.§%{woodType}.plank",
        ),
    ),
    health: (
        health: 5., 
        health_regen: 0.05, 
        table: ()
    ),
    loot_table: Own((
        pools: [
            (
                entries: [
                    (
                        item: "wood.§%{woodType}.plank",
                        modifiers: [
                            SetCount(Constant(4))
                        ],
                    ),
                ],
                rolls: Constant(1),
            )
        ]
    )),
)