(
    render_data: Model(model:"slab;wood.§%{woodType}.bark;wood.§%{woodType}.bark;wood.§%{woodType}.bark"),
    health: (
        health: 5., 
        health_regen: 0.05, 
        table: ()
    ),
    loot_table: Own((
        pools: [
            (
                entries: [
                    (
                        item: "wood.§%{woodType}.log",
                    ),
                ],
                rolls: Constant(1),
            )
        ]
    )),
    rotation: Full,
    collision: [(0., 0., 0., 1., 1., 0.5)],
    selection: [(0., 0., 0., 1., 1., 0.5)],
)