(
    render_data: Model("stick;wood.§%{woodType}_bark"),
    health: (
        health: 5., 
        health_regen: 0.05, 
        table: ()
    ),
    loot_table: Own((
        entries: [
            (
                item: "wood.§%{woodType}.stick",
                chance: 1.,
            )
        ]
    )),
    rotation: Horizontal,
    item_scale: 0.6,
    interact_action: Pickup,
    collision: [],
    selection: [(0.2, 0, 0.2, 0.8, 0.2, 0.8)],
)