(
    render_data: Model(model:"stick;wood.§%{woodType}.bark",lod_hidden: true),
    health: (
        health: 5., 
        health_regen: 0.05, 
        table: ()
    ),
    loot_table: Own((
        entries: [
            (
                item: "wood.§%{woodType}.stick",
                
            )
        ]
    )),
    rotation: Horizontal,
    item_scale: 0.6,
    interact_action: Pickup,
    collision: [],
    selection: [(0.2, 0, 0.2, 0.8, 0.2, 0.8)],
    hanging: Down,
    supporting: (up: false, down: false, left: false, right: false, front: false, back: false),
)