(
    render_data: Model(model:"stair;rock.§%{rockType}_cobble"),
    health: (health: 5., health_regen: 0.05, table: ()),
    loot_table: Own((
        entries: [
            (
                item: "rock.§%{rockType}.stone",
                chance: 1.,
                modifiers: [
                    SetCount(Constant(3))
                ]
            )
        ]
    )),
    rotation: Horizontal,
    collision: [(0., 0., 0., 1., 1., 0.5),(0., 0., 0.5, 1., 0.5, 1.)],
    selection: [(0., 0., 0., 1., 1., 0.5),(0., 0., 0.5, 1., 0.5, 1.)],
)