(
    render_data: Full(
        faces: (
            front: "rock.§%{rockType}_cobble_mossy",
            back: "rock.§%{rockType}_cobble_mossy",
            left: "rock.§%{rockType}_cobble_mossy",
            right: "rock.§%{rockType}_cobble_mossy",
            down: "rock.§%{rockType}_cobble_mossy",
            up: "rock.§%{rockType}_cobble_mossy",
        ),
    ),
    health: (health: 5., health_regen: 0.05, table: ()),
    loot_table: Own((
        entries: [
            (
                item: "rock.§%{rockType}.stone",
                chance: 1.,
                modifiers: [
                    SetCount(Constant(4))
                ]
            )
        ]
    )),
)