(blocks:[(x:-2,y:0,z:0,block:"wood.oak.log",rotation:FrontRight,chance:0.3, place_check:"l"),(x:-1,y:0,z:0,block:"wood.oak.log",rotation:FrontRight,chance:0.7, placed: "l"),(x:0,y:0,z:0,block:"wood.oak.log",rotation:FrontRight),(x:1,y:0,z:0,block:"wood.oak.log",rotation:FrontRight,chance:0.7, placed:"r"),(x:2,y:0,z:0,block:"wood.oak.log",rotation:FrontRight,chance:0.3, place_check: "r")])